@use "sass:color";
// 全局 mixins

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin border-style($border-color, $background-color, $color) {
  color: $color;
  background-color: $background-color;
  border-color: $border-color;
  &:hover,
  &:focus,
  &.focus {
    color: color.adjust($color, $lightness: 7.5%);
    background-color: color.adjust($background-color, $lightness: 7.5%);
    border-color: color.adjust($border-color, $lightness: 7.5%);
  }
  &.disabled,
  &[disabled] {
    color: $color;
    background-color: $background-color;
    border-color: $border-color;
  }
}

@mixin alert-style($background-color, $border-color, $color) {
  color: $color;
  background-color: $background-color;
  border-color: $border-color;
}

@mixin zoom-animation(
  $direction: 'top',
  $scaleStart: scaleY(0),
  $scaleEnd: scaleY(1),
  $origin: center top,
) {
  .zoom-in-#{$direction}-enter {
    opacity: 0;
    transform: $scaleStart;
  }
  .zoom-in-#{$direction}-enter-active {
    opacity: 1;
    transform: $scaleEnd;
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    transform-origin: $origin
  }
  .zoom-in-#{$direction}-exit {
    opacity: 1;
  }
  .zoom-in-#{$direction}-exit-active {
    opacity: 0;
    transform: $scaleStart;
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    transform-origin: $origin;
  }
}