.cherry-submenu {
  &.is-vertical {
    margin: 4px;
    &::after{
      border-bottom: none !important;
    }
    .cherry-submenu-icon {
      transform: rotate(0deg) !important;
    }
  }
  &.is-vertical.is-opened {
    .cherry-submenu-icon {
      transform: rotate(180deg) !important;
    }
  }
  .cherry-submenu-title {
    .cherry-submenu-icon {
      margin-left: 8px;
      transition: transform .25s ease-in-out;
    }
    &:hover {
      .cherry-submenu-icon {
        transform: rotate(180deg);
      }
    }
  }
  .cherry-submenu-container {
    position: absolute;
    top: 100%;
    min-width: 160px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
      0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  }
}
